html,body{
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   height: 100%;
   display: grid;
   grid-gap: 3px;
   /* grid-template-columns: repeat(2, 1fr); */
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 40px 200px 40px;
   grid-template-areas: 
      ". h h h h h h h h h h ."
      "m c c c c c c c c c c c"
      ". f f f f f f f f f f .";
}

.header {
   grid-area: h;
   /* grid-column-start: 1;
   grid-column-end: 3; */

   /* shorthand method: */
   /* grid-column: 1 / -1; */
}

.menu {
   grid-area: m;
   /* grid-row: 2 / 3; */
   /* grid-column: 1 / 4; */
}

.content {
   grid-area: c;
   /* grid-column: 4 / -1; */
}

.footer {
   grid-area: f;
   /* grid-column-start: 1;
   grid-column-end: 3; */

   /* grid-column: 1 / span 2; */
   /* grid-column: 1 / -1; */
}